In [1]:
import pandas as pd
df = pd.read_excel('..\\combinedTweets.xlsx')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
import os
cur_dir = os.getcwd()
json_dir = '..\Keywords\\Cognitive'

In [3]:
os.chdir(json_dir)

In [4]:
files = os.listdir()
print(files)

['Drinking.json', 'Politics.json', 'Racing.json', 'Sports.json', 'Violence.json']

In [5]:
json = [0,1,2,3,4]
for index,file in enumerate(files):
    json[index] = pd.read_json(file, typ='series')

In [6]:
os.chdir(cur_dir)

In [7]:
df['D'] = None
df['P'] = None
df['R'] = None
df['S'] = None
df['V'] = None

In [8]:
for value,file in enumerate(json):
    for files in zip(file.keys(),file.values):
        for index,tweets in enumerate(df.Tweets):
            if files[0].lower() in tweets.lower():
                df.iloc[index, [value+1]] = files[1]

In [9]:
df.replace('None','', inplace=True)

In [10]:
df['Label'] = df[['D','P','R','S','V']].idxmax(axis=1)

In [11]:
df = df.dropna(subset=['Label'])

In [12]:
df.to_excel('Labelled Tweets.xlsx', index=None)

In [13]:
df.head()

,Tweets,D,P,R,S,V,Label
1,yearn taste history from wine glass natural...,0.100000,NaN,NaN,NaN,NaN,D
2,georgia winemakers guardians wine oldest ...,0.100000,NaN,NaN,NaN,NaN,D
5,psst have plans better brighter year c...,NaN,0.1,NaN,NaN,NaN,P
6,banish whatever from wish leave behind ...,NaN,NaN,NaN,NaN,0.185302,V
8,with winter coming like lion raise many gl...,0.753424,NaN,NaN,NaN,NaN,D

In [14]:
len(df)

33016